<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorator="MasterPage.html">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
<div layout:fragment="pageContent">
    <div class="container">
        <div class="card">
            <div class="card-header"> Lists of Patient </div>
                <div class="card-body">
                    <form method="get" th:action="@{pat}">
                        <div class="form-group">
                            <label> Nom </label>
                            <input type="text" name="keyword" th:value="${keyword}">
                            <button class="btn btn-primary" > Search </button>
                        </div>
                    </form>
                        <table class="table">
                            <tr class="table-info">                                                                                         
                                <th>ID</th><th>Name</th><th>Birthday</th><th>Sick</th><th>score</th>
                            </tr>
                            <tr th:each="p:${patients}">                                                                                    
                                <td th:text="${p.id}"> </td>                                                                                
                                <td th:text="${p.nom}"> </td>                                                                               
                                <td th:text="${p.dateNaissance}"> </td>
                                <td th:text="${p.malade}"> </td>
                                <td th:text="${p.score}"> </td>
                                <td sec:authorize="hasRole('ADMIN')">
                                    <a onclick=" return confirm('Are you ok to delete this User ?')"
                                       class="btn btn-danger" th:href="@{deletePatient(id=${p.id})}">Delete</a>
                                <td>
                                <a class="btn btn-warning" th:href="@{editPatient(id=${p.id})}">Edit</a>
                            </td>
                            </tr>                                                                                                           
                        </table>                                                                                                            
                        <ul class="nav nav-pills">                                                                                          
                            <li   th:each="page,status:${pages}">                                                                           
                                <a th:class="${status.index==currentPage?'btn btn-warning':'btn'}"                                          
                                   th:href="@{pat(page=${status.index},keyword=${keyword})}" th:text="${status.index}"></a>                 
                            </li>                                                                                                           
                        </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>